@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing:border-box;
    font-family: 'Open Sans';
}

body{
    text-align: center;
    background: linear-gradient(180deg, #642A7A 40%, #fff 40%);
    margin-bottom: 100px;
}

/* Cabeçalho */
header{
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    padding: 10px;
    width: 100%;
}

/* main */
main h1{
    font-size: 40px;
    margin-top: -7px;
    font-weight: 400;
    color: white;
}

main p{
    color: white;
    font-weight: 200;
    font-size: 19px;
}

/* Captura do meio */
main .captura1{
    width: 240px;
    transition: transform .3s;
}

main .captura1:hover{
    transform: scale(1.1);
}

/* Capturas das pontas */
main .captura-2-com-hover{
    width: 185px;
    transition: transform .3s;
}

main .captura-2-com-hover:hover{
    transform: scale(1.2);
}

/* Selos das lojas de app */
main .selos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

main .selo-apple{
    width: 150px;
}

main .selo-google{
    width: 188px;
}

/* Formulario newsletter */
main .newsletter{
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: center;
}

main .newsletter p{
    color: black;
    margin-bottom: 20px;
    font-size: 23px;
}

main .newsletter form{
    display: flex;
    justify-items: center;
    align-items: center;
}

/* Campos do formulário */
main .newsletter input{
    border-radius: 30px;
    padding: 7px;
    width: 250px;
}
main .newsletter input[type=text]{
    margin-bottom: 10px;
}

main .newsletter .botao{
    border-radius: 30px;
    width: fit-content;
    background-color: #E0A0FA;
    padding: 7px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 10px;
}

main .newsletter .botao:hover{
    background-color: rgba(100, 42, 122,0.7);
    color: white;
    letter-spacing: 0.5px;
    font-size: 13px;
    transition: 0.5s;
}

/*main .newsletter div.mensagens{
    text-align: center;
} */


.invisible{
    display: none;
}

/* Carrossel */
main .carrossel{
    border: 1px solid rgb(187, 184, 184);
    box-shadow: 2px 2px 4px rgb(175, 166, 166);
    margin: auto;
    overflow: hidden;
    width: 600px; 
    height: 380px;
}

main .carrossel .container{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

main .carrossel .container div{
    display: flex;   
}

main .carrossel .container div.slide{
    display: flex;
    justify-content: space-around; 
    align-items: center;    
    padding: 10px; 
    object-fit: cover;
    min-height: 380px;
    min-width: 600px; 
}

/* Imagens do carrossel*/
main .carrossel .container div.slide .captura{
    width: 185px;
}

/* Texto do carrossel */
main .carrossel .container div.slide p{
    width: 150px;
    text-align: left;
    color: black;
}