@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing:border-box;
    font-family: 'Open Sans';
}

body{
    text-align: center;
    margin-bottom: 100px;
}
h2{
    font-size: 30px;
    font-weight: 400;
}
/* Cabeçalho */
header{
    background-color: #642A7A;
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    padding: 10px;
    width: 100%;
}

table {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
} 

td{
    height: fit-content;
    /* width: fit-content; */
    width: 150px;
}

main .newsletter{
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: center;
}

main .newsletter p{
    color: black;
    margin-bottom: 20px;
    font-size: 23px;
}

main .newsletter form{
    display: flex;
    justify-items: center;
    align-items: center;
}

/* Campos do formulário */
main .formulario{
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
}
main input{
    border-radius: 30px;
    padding: 7px;
    width: 250px;
}
main input[type=text]{
    margin-bottom: 10px;
}

main button{
    border-radius: 30px;
    width: fit-content;
    background-color: #E0A0FA;
    padding: 7px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 10px;
}

main button:hover{
    background-color: rgba(100, 42, 122,0.7);
    color: white;
    letter-spacing: 0.5px;
    font-size: 13px;
    transition: 0.5s;
}

main button{
    margin-top: 10px;
}

.invisible{
    display: none;
}
